[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alembic = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"

[packages]
psycopg2 = "*"
jsonschema = "*"
sqlalchemy = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
